/* #cookie-notice {font-size: larger; padding: 0.5rem 1rem; display: none;
    text-align: center; position: fixed; bottom: 0; left: 20px; padding-top: 40px;
    padding-bottom: 40px; width: 100%; background: rgb(70, 70, 70);
    color: rgba(255,255,255,0.8);}
    
    #cookie-notice a {font-weight: 600; display: inline-flex; cursor: pointer; margin-left: 0.5rem;}
    #cookie-notice-accept {color:rgb(86, 228, 58)}
    #cookie-notice-deny {color:rgb(243, 34, 34)}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
        #cookie-notice {left: 0px;}
    } */



/* Stile per il banner dei cookie */
#cookie-notice {
    font-size: larger;
    padding: 0.5rem 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0; /* Cambiato da 20px per farlo allineare a sinistra */
    width: 100%;
    background: rgba(70, 70, 70, 0.8); /* Aggiunto l'alpha per il background semi-trasparente */
    color: rgba(255, 255, 255, 0.8);
    z-index: 1000; /* Assicurati che lo z-index sia maggiore di altri elementi per farlo sovrapporre */
  }
  
  #cookie-notice a {
    font-weight: 600;
    display: inline-flex;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  #cookie-notice-accept {
    color: rgb(86, 228, 58);
  }
  
  #cookie-notice-deny {
    color: rgb(243, 34, 34);
  }
  
  @media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }
    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
    #cookie-notice {
      left: 0px;
    }
  }

/*main */
.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

