{{ define "main" }}
<head>
    <link rel="stylesheet" href="/static/timeline.css">
</head>
<div class="timeline">
    {{ range .Site.RegularPages.ByDate.Reverse }}
        {{ if .Params.date }}
            <div class="timeline-item">
                <div class="timeline-date">{{ .Date.Format "January 02, 2006" }}</div>
                <div class="timeline-content">
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Params.description }}</p>
                    {{ .Content }}
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}
